{%extends 'student_dashboard_templates/base.html'%}
{% load markdownify %}

{% block contents%}
<div class="page-body">
    <div class="container-fluid">
      <div class="page-header">
        <div class="row">
          <div class="col-sm-6">
            <h3>Module: {{topic_details.module_week.module.module_name}}</h3>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Activity: {{topic_details.topic_name}}: estimated time: {{topic_details.estmated_accomplishmet_time}} hrs</a></li>
              {% comment %} <li class="breadcrumb-item">Learning</li>
              <li class="breadcrumb-item active">Detailed Course</li> {% endcomment %}
            </ol>
          </div>
          <div class="col-sm-6">
            <!-- Bookmark Start-->
            <div class="bookmark">
              <ul>
                <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Tables"><i data-feather="inbox"></i></a></li>
                <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Chat"><i data-feather="message-square"></i></a></li>
                <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Icons"><i data-feather="command"></i></a></li>
                <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Learning"><i data-feather="layers"></i></a></li>
                <li><a href="javascript:void(0)"><i class="bookmark-search" data-feather="star"></i></a>
                  <form class="form-inline search-form">
                    <div class="form-group form-control-search">
                      <input type="text" placeholder="Search..">
                    </div>
                  </form>
                </li>
              </ul>
            </div>
            <!-- Bookmark Ends-->
          </div>
        </div>
      </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
      <div class="row learning-block">
        <div class="col-xl-9 xl-60 box-col-8">                        
          <div class="blog-single">
            <div class="blog-box blog-details">
              <div class="card">
                <div class="card-body">
                  <div class="blog-details">
                    <ul class="blog-social">
                      <li class="digits">{{topic_details.created_at}}</li>
                      <li><i class="icofont icofont-user"></i>{{topic_details.module_week.author}}</li>
                    </ul>
                    <div class="single-blog-content-top">
                    {% for activity in topic_details.activity_set.all%}
                     {{activity.activity|markdownify}}
                     {%endfor%}
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
          </div>
        </div>
        <div class="col-xl-3 xl-40">
          <div class="job-sidebar"><a class="btn btn-primary job-toggle" href="javascript:void(0)">learning filter</a>
            <div class="job-left-aside custom-scrollbar custom-scrollbar">
              <div class="default-according style-1 faq-accordion job-accordion" id="accordionoc">
                <div class="row">
                  <div class="col-xl-12">
                    <div class="card">
                      <div class="card-header">
                        <h5 class="mb-0 p-0">
                          <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseicon" aria-expanded="true" aria-controls="collapseicon">One is Done Submit for Reviews </button>
                        </h5>
                      </div>
                      <div class="collapse show" id="collapseicon" aria-labelledby="collapseicon" data-bs-parent="#accordion">
                        <div class="card-body filter-cards-view animate-chk">
                          <button class="btn btn-primary text-center" type="button">Submit Activity</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-12">
                  
                  </div>
                  <div class="col-xl-12">
                    <div class="card">
                      <div class="card-header">
                        <h5 class="mb-0 p-0">
                          <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseicon2" aria-expanded="true" aria-controls="collapseicon2">Upcoming Courses</button>
                        </h5>
                      </div>
                      <div class="collapse show" id="collapseicon2" aria-labelledby="collapseicon2" data-bs-parent="#accordion">
                        <div class="upcoming-course card-body">
                          <div class="media">
                            <div class="media-body"><span class="f-w-600">UX Development</span>
                              <h6>Course By <a href="#"> Lorem ipsum</a></h6>
                              <ul class="rating">
                                <li><i class="fa fa-star font-warning"></i></li>
                                <li><i class="fa fa-star font-warning"></i></li>
                                <li><i class="fa fa-star font-warning"></i></li>
                                <li><i class="fa fa-star font-warning"></i></li>
                                <li><i class="fa fa-star-half-o font-warning"></i></li>
                              </ul>
                            </div>
                            <div>
                              <h5 class="mb-0 p-0 font-primary">18</h5><span class="d-block">Dec</span>
                            </div>
                          </div>
                          <div class="media">
                            <div class="media-body"><span class="f-w-600">Business Analyst</span>
                              <h6>Course By <a href="#">Lorem ipsum </a></h6>
                              <ul class="rating">
                                <li><i class="fa fa-star font-warning"></i></li>
                                <li><i class="fa fa-star font-warning"></i></li>
                                <li><i class="fa fa-star font-warning"></i></li>
                                <li><i class="fa fa-star font-warning"></i></li>
                                <li><i class="fa fa-star-half-o font-warning"></i></li>
                              </ul>
                            </div>
                            <div>
                              <h5 class="mb-0 p-0 font-primary">28</h5><span class="d-block">Dec</span>
                            </div>
                          </div>
                          <div class="media">
                            <div class="media-body"><span class="f-w-600">Web Development</span>
                              <h6>Course By <a href="#">Lorem ipsum </a></h6>
                              <ul class="rating">
                                <li><i class="fa fa-star font-warning"></i></li>
                                <li><i class="fa fa-star font-warning"></i></li>
                                <li><i class="fa fa-star font-warning"></i></li>
                                <li><i class="fa fa-star font-warning"></i></li>
                                <li><i class="fa fa-star-half-o font-warning"></i></li>
                              </ul>
                            </div>
                            <div>
                              <h5 class="mb-0 p-0 font-primary">5</h5><span class="d-block">Jan                         </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{%endblock%}