{% extends 'student_dashboard_templates/base.html'%}
{% load markdownify %}
{% block contents %}

    <div class="page-body">
        <div class= "row">
            <div class="col-xl-12 col-md-6 box-col-6 des-xl-50">
                <div class="card profile-greeting">
                  <div class="card-header">
                    <div class="header-top">
                      <div class="setting-list bg-primary position-unset">
                        <ul class="list-unstyled setting-option">
                          <li>
                            <div class="setting-white"><i class="icon-settings"></i></div>
                          </li>
                          <li><i class="view-html fa fa-code font-white"></i></li>
                          <li><i class="icofont icofont-maximize full-card font-white"></i></li>
                          <li><i class="icofont icofont-minus minimize-card font-white"></i></li>
                          <li><i class="icofont icofont-refresh reload-card font-white"></i></li>
                          <li><i class="icofont icofont-error close-card font-white"> </i></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card-body text-center p-t-0">
                    <h3 class="font-primary" style="color: blue;">Wellcome Back, {{request.user.username}}!</h3>
                    <p class="font-primary">Welcome to the intmain Family! we are glad that you are here. we will be happy to help you grow your career.</p>
                    <div class="progress">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                  </div>
                  <div class="confetti">
                    <div class="confetti-piece"></div>
                    <div class="confetti-piece"></div>
                    <div class="confetti-piece"></div>
                    <div class="confetti-piece"></div>
                    <div class="confetti-piece"></div>
                    <div class="confetti-piece"></div>
                    <div class="confetti-piece"></div>
                    <div class="confetti-piece"></div>
                    <div class="confetti-piece"></div>
                    <div class="confetti-piece"></div>
                    <div class="confetti-piece"></div>
                    <div class="confetti-piece"></div>
                    <div class="confetti-piece"></div>
                    <div class="code-box-copy">
                      <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#profile-greeting" title="Copy"><i class="icofont icofont-copy-alt"></i></button>
                 
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-sm-12 col-lg-12">
            
            {%for module in modules%}
            <div class="card">
           
              <div class="card-header pb-0">
                <h5>Module: {{module.module_name}}</h5>
                  <h6 class="breadcrumb-item"><a href="index.html">Category: {{module.module_category}}</a></h6>
                <div>
                  <span></span>
                </div>
              </div>
              <div class="card-body">
                <div class="default-according" id="accordionicon">
                {% for week in module.module_week.all%}
                  <div class="card">
                    <div class="card-header bg-primary" id="heading11">
                      <h5 class="mb-0">
                        <button class="btn btn-link text-white" data-bs-toggle="collapse" data-bs-target="#collapse11{{week.id}}" aria-expanded="true" aria-controls="collapse11"><i class="icofont icofont-briefcase-alt-2"></i>Week No: <span>{{week.week_number}}</span></button>
                      </h5>
                    </div>
                    <div class="collapse show" id="collapse11{{week.id}}" aria-labelledby="headingOne" data-bs-parent="#accordionicon">
                      <div class="card-body">
                        
                        <div class="col-xl-12 col-md-12 box-col-12">
                            <div>
                              <div class=" card-activity">
                                <div class="card-header pb-0 d-flex justify-content-between align-items-center">
                                  <h5 class="text-uppercase">Activities</h5>
                                  <div class="setting-list">
                                    <ul class="list-unstyled setting-option">
                                      <li>
                                        <div class="setting-primary"><i class="icon-settings"></i></div>
                                      </li>
                                      <li><i class="view-html fa fa-code font-primary"></i></li>
                                      <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
                                      <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
                                      <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
                                      <li><i class="icofont icofont-error close-card font-primary"></i></li>
                                    </ul>
                                  </div>
                                </div>
                                <div class="card-body">
                                  <ul class="crm-activity">
                                    {% for topic in  week.related_topics.all%}
                                    <li class="media"><span class="me-3 font-{% if loop.odd %}secondary{% else %}primary{%endif%}">{{topic.topic_name_first_letter}}

                                    </span>
                                      <div class="align-self-center media-body">
                                        <h6 class="mt-0">{{topic.topic_name}}.</h6>

                                        <ul class="dates">
                                          <li>Estimated Time: </li>
                                          <li>{{topic.estmated_accomplishmet_time}} hrs</li>
 
                                        </ul>
                                      </div>

                                      <a class="btn btn-square btn-outline-danger btn-xs" type="button"  data-bs-original-title="" title="">{% if topic.is_solo %}Solo{%else%}Group{% endif%}</a>
                                      {% if topic.is_week_project %}
                                      <a  data-bs-toggle="modal" data-bs-target=".bd-example-modal-lg" class="btn btn-square btn-outline-success btn-xs" type="button" data-bs-original-title="" title="">Request a review</a>
                                      {%endif%}
                                      {% if topic.is_capstone_project %}
                                      <a href="" class="btn btn-square btn-outline-primary btn-xs" type="button" data-bs-toggle="modal" data-bs-target=".bd-example-modal-lg" data-bs-original-title="" title="">request a review</a>
                                      {%endif%}

                                      <a href="{%url 'topic_details' topic.slug%}" class="btn btn-square btn-outline-secondary btn-xs" type="button" data-bs-original-title="" title="">View Activity</a>

                                    </li>
                                    {%endfor%}
                                    
                                  </ul>
                                  <div class="code-box-copy">
                                    <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#recent-activity" title="" data-bs-original-title="Copy" aria-label="Copy"><i class="icofont icofont-copy-alt"></i></button>
 
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                    
                    </div>
                    </div>
                  </div>
                  {%endfor%}

                </div>
              </div>
           
            </div>
            {% endfor %}
          </div>
    </div>

      <!-- Large modal-->
      <!-- <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target=".bd-example-modal-lg">Large modal</button> -->
      <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myLargeModalLabel">Large modal</h4>
              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="card">
                <div class="card-header pb-0">
                  <h5 style="color: black;">Important!</h5><span>Ones your activty is done then is the time to submit for the reviews</span><span>We have a team of more active developers that will take an intensive look on your work and the they will give feedback one thay are done for the reviews.</span>
                </div>
                <div class="card-body">
                  <form class="was-validated">
                    <div class="mb-2">
                      <label class="form-label" for="validationTextarea">Textarea</label>
                      <input type="text" class="form-control is-invalid" id="validationTextarea" placeholder="Enter you project github link" required="">
                      <div class="invalid-feedback">Please enter you Project giuthub link</div>
                    </div>
                    <div class="mb-2">
                      <label class="form-label" for="validationTextarea">Textarea</label>
                      <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Required example textarea" required=""></textarea>
                      <div class="invalid-feedback">Please enter a message in this area </div>
                    </div>
                    <p style="color:black"></p>
                    <span style="color: black">Did you use other source when performing this task?</span>
                    <label class="form-check-label" for="validationFormCheck1">Did you use another source to finish this task?</label>
                    <div class="form-check">
                      <input class="form-check-input" id="git-url" type="radio" name="source" required="">
                      <label class="form-check-label" for="validationFormCheck2">Yes</label>
                    </div>
                    <div class="form-check mb-2">
                      <input class="form-check-input" id="description" type="radio" name="source" required="">
                      <label class="form-check-label" for="description">No</label>
                      <div class="invalid-feedback">More example invalid feedback text</div>
                    </div>
                    <span style="color: black">Like it?</span>
                    <div class="form-check">
                      <input class="form-check-input" id="validationFormCheck2" type="radio" name="like-it" required="">
                      <label class="form-check-label" for="validationFormCheck2">Yes</label>
                    </div>
                    <div class="form-check mb-2">
                      <input class="form-check-input" id="validationFormCheck3" type="radio" name="like-it" required="">
                      <label class="form-check-label" for="validationFormCheck3">No</label>
                      <div class="invalid-feedback">More example invalid feedback text</div>
                    </div>
                    <button class="ntn btn-primary"> Submitting for Reviews</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock contents %}



