{% extends 'student_dashboard_templates/base.html'%}
{% load crispy_forms_tags %}
{% load static%}
{%block contents%}
    <div class="page-body">
      <div class="container-fluid">
        <div class="page-header">
          <div class="row">
            <div class="col-sm-6">
              <h3>Edit Profile</h3>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home'%}">Home</a></li>
                <li class="breadcrumb-item">Users</li>
                <li class="breadcrumb-item active">Edit Profile</li>
              </ol>
            </div>
            <div class="col-sm-6">
              <!-- Bookmark Start-->
              <div class="bookmark">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        {% if message.tags %}
                        <div class="alert alert-{{message.tags}} alert-dismissible fade show  d-flex align-items-start" role="alert">
                            {% endif %}
                            <strong>Done!</strong> {{ message }}..
                            <button type="button"  class="btn-close" data-bs-dismiss="alert"
                                aria-label="Close"></button>
                        </div>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <a href="{%url 'password_change'%}" class="btn btn-primary btn-block">Change password</a>
         
              </div>
              <!-- Bookmark Ends-->
            </div>
          </div>
        </div>
      </div>
      <!-- Container-fluid starts-->
      <div class="container-fluid">
        <div class="edit-profile">
        <form method="post">
            {%csrf_token%}
          <div class="row">
            <div class="col-xl-4">
              <div class="card">
                <div class="card-header pb-0">
                  <h4 class="card-title mb-0">Personal information</h4>
                  <div class="card-options"><a class="card-options-collapse" href="#" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a><a class="card-options-remove" href="#" data-bs-toggle="card-remove"><i class="fe fe-x"></i></a></div>
                </div>
                <div class="card-body">
               
        
                    <div class="row mb-2">
                      <div class="profile-title">
                        <div class="media">
                            <div class="avatar avatar-xxl">
                                <img class="img-70 avatar-img rounded-circle border border-3 border-dark"
                                    src="{% if request.user.user_profile != none %}{{request.user.user_profile.image.url}}{%else%}{% static 'assets/img/intmain_avatar.png'%}{%endif%}" alt="avatar">
                            </div>
                          <div class="media-body">
                            <h3 class="mb-1 f-20 txt-primary">{{request.user.username}}</h3>
                            <p class="f-12">{% if request.user.user_profile == none %} {%if request.user.user_profile.profession == none %} Add your professional{%else%}{{request.user.user_profile.profession}}{%endif%}{%endif%}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="mb-3">
                      {{ user_form.username|as_crispy_field}}
                    </div>
                    <div class="mb-3">
                      {{ user_form.first_name|as_crispy_field}}
                    </div>
                    <div class="mb-3">
                     {{ user_form.last_name|as_crispy_field}}
                    </div>
                    <div class="mb-3">
                     {{ user_form.email|as_crispy_field}}
                    </div>
                </div>
              </div>
            </div>
            <div class="col-xl-8">
              <div class="card">
                <div class="card-header pb-0">
                  <small class="card-title mb-0">These information will enanle other people to discover you and hence you can increase you network</small>
                  <div class="card-options"><a class="card-options-collapse" href="#" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a><a class="card-options-remove" href="#" data-bs-toggle="card-remove"><i class="fe fe-x"></i></a></div>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12">
                        <div class="row rounded bg-lightt" >
                            {% if profile_form.instance.image %}
                            <div class="col-md-2">
                                <img style="height:30px; width:30px; border-radius: 100%;margin-top:10px;overflow: hidden;"
                                    src="{{  profile_form.instance.image.url }}" alt="">
                            </div>
                            {%endif%}
                            <div class="col-md-10">
                                {{ profile_form.image}}
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="col-md-6">
                      <div class="mb-3">
                        {{ profile_form.profession|as_crispy_field}}
                      </div>
                    </div>
                   
                    <div class="col-sm-6 col-md-6">
                      <div class="mb-3">
                        {{ profile_form.country|as_crispy_field}}
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                      <div class="mb-3">
                        {{ profile_form.about|as_crispy_field}}

                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                      <div class="mb-3">
                        {{ profile_form.career_goal|as_crispy_field}}

                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="mb-3">
                        {{ profile_form.github_link|as_crispy_field}}

                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                      <div class="mb-3">
                    
                        {{ profile_form.linkedin_link|as_crispy_field}}
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                      <div class="mb-3">
                        {{profile_form.facebook_link|as_crispy_field}}
                      </div>
                    </div>
                  
                  </div>
                </div>
                <div class="card-footer text-end">
                  <button class="btn btn-primary" type="submit">Update Profile</button>
                </div>
            </div>
            </div>
          </div>
        </form>
        </div>
      </div>
  </div>
{%endblock%}