{%load static%}

<script src="{% static 'dashboard_assets/assets/js/jquery-3.5.1.min.js'%}"></script>
<!-- feather icon js-->
<script src="{% static 'dashboard_assets/assets/js/feather.min.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/feather-icon.js'%}"></script>
<!-- Sidebar jquery-->
<script src="{% static 'dashboard_assets/assets/js/sidebar-menu.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/config.js'%}"></script>
<!-- Bootstrap js-->
<script src="{% static 'dashboard_assets/assets/js/popper.min.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/bootstrap.min.js'%}"></script>
<!-- Plugins JS start-->
<script src="{% static 'dashboard_assets/assets/js/chartist.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/chartist-plugin-tooltip.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/knob.min.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/knob-chart.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/apex-chart.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/stock-prices.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/prism.min.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/clipboard.min.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/jquery.waypoints.min.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/jquery.counterup.min.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/counter-custom.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/custom-card.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/bootstrap-notify.min.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/jquery-jvectormap-2.0.2.min.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/jquery-jvectormap-world-mill-en.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/jquery-jvectormap-us-aea-en.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/jquery-jvectormap-uk-mill-en.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/jquery-jvectormap-au-mill.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/jquery-jvectormap-chicago-mill-en.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/jquery-jvectormap-in-mill.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/jquery-jvectormap-asia-mill.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/default.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/index.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js//datepicker.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/datepicker.en.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/datepicker.custom.js'%}"></script>
<!-- Plugins JS Ends-->
<!-- Theme js-->
<script src="{% static 'dashboard_assets/assets/js/script.js'%}"></script>
 <script src="{% static 'dashboard_assets/assets/js/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/datatable.custom.js'%}"></script>

{% comment %} <script src="{% static 'mdeditor/js/jquery.min.js' %}"></script>
<script src="{% static 'mdeditor/js/editormd.min.js' %}"></script>
<script src="{% static 'mdeditor/js/lib/marked.min.js' %}"></script>
<script src="{% static 'mdeditor/js/lib/prettify.min.js' %}"></script>
<script src="{% static 'mdeditor/js/lib/raphael.min.js' %}"></script>
<script src="{% static 'mdeditor/js/lib/underscore.min.js' %}"></script>
<script src="{% static 'mdeditor/js/lib/sequence-diagram.min.js' %}"></script>
<script src="{% static 'mdeditor/js/lib/flowchart.min.js' %}"></script>
<script src="{% static 'mdeditor/js/lib/jquery.flowchart.min.js' %}"></script>
<script>
  $(function () {
      // content is the id of the <tag> you want to be render.
      // Refer to the link of the template shared with this answer.
      editormd.markdownToHTML("content", {
          emoji           : true,
          taskList        : true,
          tex             : true,  
          flowChart       : true,  
          sequenceDiagram : true,  
      });
  }) {% endcomment %}

</script>
<!-- login js-->
<!-- Plugin used-->