{%load static%}

<script src="{% static 'dashboard_assets/assets/js/jquery-3.5.1.min.js'%}"></script>
<!-- feather icon js-->
<script src="{% static 'dashboard_assets/assets/js/feather.min.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/feather-icon.js'%}"></script>
<!-- Sidebar jquery-->
<script src="{% static 'dashboard_assets/assets/js/sidebar-menu.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/config.js'%}"></script>
<!-- Bootstrap js-->
<script src="{% static 'dashboard_assets/assets/js/popper.min.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/bootstrap.min.js'%}"></script>
<!-- Plugins JS start-->
<script src="{% static 'dashboard_assets/assets/js/chartist.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/chartist-plugin-tooltip.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/knob.min.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/knob-chart.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/apex-chart.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/stock-prices.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/prism.min.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/clipboard.min.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/jquery.waypoints.min.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/jquery.counterup.min.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/counter-custom.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/custom-card.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/bootstrap-notify.min.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/jquery-jvectormap-2.0.2.min.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/jquery-jvectormap-world-mill-en.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/jquery-jvectormap-us-aea-en.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/jquery-jvectormap-uk-mill-en.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/jquery-jvectormap-au-mill.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/jquery-jvectormap-chicago-mill-en.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/jquery-jvectormap-in-mill.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/jquery-jvectormap-asia-mill.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/default.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/index.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js//datepicker.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/datepicker.en.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/datepicker.custom.js'%}"></script>
<!-- Plugins JS Ends-->
<!-- Theme js-->
<script src="{% static 'dashboard_assets/assets/js/script.js'%}"></script>
 <script src="{% static 'dashboard_assets/assets/js/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'dashboard_assets/assets/js/datatable.custom.js'%}"></script>
<!-- login js-->
<!-- Plugin used-->