{% extends 'student_dashboard_templates/base.html'%}
{% load static %}

{% block contents%}

<div class="page-body">
    <div class="container-fluid ">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-header-left">

                    </div>
                </div>
                <div class="col-sm-6">
                    <!-- Bookmark Start-->
                    <div class="bookmark">
                        <ul>
                            <li>
                                <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#add_car_type">
                            <i data-feather="plus"></i> Add car type</button>
                            </li>
                            <li>
                                <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#add_car">
                            <i data-feather="plus"></i> Add a car</button>
                            </li>



                        </ul>
                    </div>
                    <!-- Bookmark Ends-->
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid dashboard-default-sec">
        <div class="row">
            <div class="col-xl-12 box-col-12 des-xl-100">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-sm-6 box-col-6 des-xl-25 rate-sec">
                        <div class="card income-card card-primary">
                            <div class="card-body text-center">
                                <div class="round-box">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        x="0px" y="0px" viewbox="0 0 448.057 448.057"
                                        style="enable-background:new 0 0 448.057 448.057;" xml:space="preserve">
                                        <g>
                                            <g>
                                                <path
                                                    d="M404.562,7.468c-0.021-0.017-0.041-0.034-0.062-0.051c-13.577-11.314-33.755-9.479-45.069,4.099                                            c-0.017,0.02-0.034,0.041-0.051,0.062l-135.36,162.56L88.66,11.577C77.35-2.031,57.149-3.894,43.54,7.417                                            c-13.608,11.311-15.471,31.512-4.16,45.12l129.6,155.52h-40.96c-17.673,0-32,14.327-32,32s14.327,32,32,32h64v144                                            c0,17.673,14.327,32,32,32c17.673,0,32-14.327,32-32v-180.48l152.64-183.04C419.974,38.96,418.139,18.782,404.562,7.468z">
                                                </path>
                                            </g>
                                        </g>
                                        <g>
                                            <g>
                                                <path
                                                    d="M320.02,208.057h-16c-17.673,0-32,14.327-32,32s14.327,32,32,32h16c17.673,0,32-14.327,32-32                                            S337.694,208.057,320.02,208.057z">
                                                </path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <h5>8,50,49</h5>
                                <p>Car On store</p><a class="btn-arrow arrow-primary" href="javascript:void(0)"><i
                                        class="toprightarrow-primary fa fa-arrow-up me-2"></i> </a>
                                <div class="parrten">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        x="0px" y="0px" viewbox="0 0 448.057 448.057"
                                        style="enable-background:new 0 0 448.057 448.057;" xml:space="preserve">
                                        <g>
                                            <g>
                                                <path
                                                    d="M404.562,7.468c-0.021-0.017-0.041-0.034-0.062-0.051c-13.577-11.314-33.755-9.479-45.069,4.099                                            c-0.017,0.02-0.034,0.041-0.051,0.062l-135.36,162.56L88.66,11.577C77.35-2.031,57.149-3.894,43.54,7.417                                            c-13.608,11.311-15.471,31.512-4.16,45.12l129.6,155.52h-40.96c-17.673,0-32,14.327-32,32s14.327,32,32,32h64v144                                            c0,17.673,14.327,32,32,32c17.673,0,32-14.327,32-32v-180.48l152.64-183.04C419.974,38.96,418.139,18.782,404.562,7.468z">
                                                </path>
                                            </g>
                                        </g>
                                        <g>
                                            <g>
                                                <path
                                                    d="M320.02,208.057h-16c-17.673,0-32,14.327-32,32s14.327,32,32,32h16c17.673,0,32-14.327,32-32                                            S337.694,208.057,320.02,208.057z">
                                                </path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-6 box-col-6 des-xl-25 rate-sec">
                        <div class="card income-card card-secondary">
                            <div class="card-body text-center">
                                <div class="round-box">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        x="0px" y="0px" viewbox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                                        xml:space="preserve">
                                        <g>
                                            <g>
                                                <path
                                                    d="M256,0C114.615,0,0,114.615,0,256s114.615,256,256,256s256-114.615,256-256S397.385,0,256,0z M96,100.16                                            c50.315,35.939,80.124,94.008,80,155.84c0.151,61.839-29.664,119.919-80,155.84C11.45,325.148,11.45,186.851,96,100.16z M256,480                                            c-49.143,0.007-96.907-16.252-135.84-46.24C175.636,391.51,208.14,325.732,208,256c0.077-69.709-32.489-135.434-88-177.6                                            c80.1-61.905,191.9-61.905,272,0c-98.174,75.276-116.737,215.885-41.461,314.059c11.944,15.577,25.884,29.517,41.461,41.461                                            C353.003,463.884,305.179,480.088,256,480z M416,412v-0.16c-86.068-61.18-106.244-180.548-45.064-266.616                                            c12.395-17.437,27.627-32.669,45.064-45.064C500.654,186.871,500.654,325.289,416,412z">
                                                </path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <h5>2,03,59</h5>
                                <p>Car borrowed</p><a class="btn-arrow arrow-secondary" href="javascript:void(0)"><i
                                        class="toprightarrow-secondary fa fa-arrow-up me-2"></i> </a>
                                <div class="parrten">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        x="0px" y="0px" viewbox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                                        xml:space="preserve">
                                        <g>
                                            <g>
                                                <path
                                                    d="M256,0C114.615,0,0,114.615,0,256s114.615,256,256,256s256-114.615,256-256S397.385,0,256,0z M96,100.16                                            c50.315,35.939,80.124,94.008,80,155.84c0.151,61.839-29.664,119.919-80,155.84C11.45,325.148,11.45,186.851,96,100.16z M256,480                                            c-49.143,0.007-96.907-16.252-135.84-46.24C175.636,391.51,208.14,325.732,208,256c0.077-69.709-32.489-135.434-88-177.6                                            c80.1-61.905,191.9-61.905,272,0c-98.174,75.276-116.737,215.885-41.461,314.059c11.944,15.577,25.884,29.517,41.461,41.461                                            C353.003,463.884,305.179,480.088,256,480z M416,412v-0.16c-86.068-61.18-106.244-180.548-45.064-266.616                                            c12.395-17.437,27.627-32.669,45.064-45.064C500.654,186.871,500.654,325.289,416,412z">
                                                </path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-6 box-col-6 des-xl-25 rate-sec">
                        <div class="card income-card card-primary">
                            <div class="card-body text-center">
                                <div class="round-box">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                        y="0px" viewbox="0 0 448.057 448.057" style="enable-background:new 0 0 448.057 448.057;"
                                        xml:space="preserve">
                                        <g>
                                            <g>
                                                <path
                                                    d="M404.562,7.468c-0.021-0.017-0.041-0.034-0.062-0.051c-13.577-11.314-33.755-9.479-45.069,4.099                                            c-0.017,0.02-0.034,0.041-0.051,0.062l-135.36,162.56L88.66,11.577C77.35-2.031,57.149-3.894,43.54,7.417                                            c-13.608,11.311-15.471,31.512-4.16,45.12l129.6,155.52h-40.96c-17.673,0-32,14.327-32,32s14.327,32,32,32h64v144                                            c0,17.673,14.327,32,32,32c17.673,0,32-14.327,32-32v-180.48l152.64-183.04C419.974,38.96,418.139,18.782,404.562,7.468z">
                                                </path>
                                            </g>
                                        </g>
                                        <g>
                                            <g>
                                                <path
                                                    d="M320.02,208.057h-16c-17.673,0-32,14.327-32,32s14.327,32,32,32h16c17.673,0,32-14.327,32-32                                            S337.694,208.057,320.02,208.057z">
                                                </path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <h5>8,50,49</h5>
                                <p> car category available </p><a class="btn-arrow arrow-primary" href="javascript:void(0)"><i
                                        class="toprightarrow-primary fa fa-arrow-up me-2"></i> </a>
                                <div class="parrten">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                        y="0px" viewbox="0 0 448.057 448.057" style="enable-background:new 0 0 448.057 448.057;"
                                        xml:space="preserve">
                                        <g>
                                            <g>
                                                <path
                                                    d="M404.562,7.468c-0.021-0.017-0.041-0.034-0.062-0.051c-13.577-11.314-33.755-9.479-45.069,4.099                                            c-0.017,0.02-0.034,0.041-0.051,0.062l-135.36,162.56L88.66,11.577C77.35-2.031,57.149-3.894,43.54,7.417                                            c-13.608,11.311-15.471,31.512-4.16,45.12l129.6,155.52h-40.96c-17.673,0-32,14.327-32,32s14.327,32,32,32h64v144                                            c0,17.673,14.327,32,32,32c17.673,0,32-14.327,32-32v-180.48l152.64-183.04C419.974,38.96,418.139,18.782,404.562,7.468z">
                                                </path>
                                            </g>
                                        </g>
                                        <g>
                                            <g>
                                                <path
                                                    d="M320.02,208.057h-16c-17.673,0-32,14.327-32,32s14.327,32,32,32h16c17.673,0,32-14.327,32-32                                            S337.694,208.057,320.02,208.057z">
                                                </path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-3 col-sm-6 box-col-6 des-xl-25 rate-sec">
                        <div class="card income-card card-secondary">
                            <div class="card-body text-center">
                                <div class="round-box">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                        y="0px" viewbox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                        <g>
                                            <g>
                                                <path
                                                    d="M256,0C114.615,0,0,114.615,0,256s114.615,256,256,256s256-114.615,256-256S397.385,0,256,0z M96,100.16                                            c50.315,35.939,80.124,94.008,80,155.84c0.151,61.839-29.664,119.919-80,155.84C11.45,325.148,11.45,186.851,96,100.16z M256,480                                            c-49.143,0.007-96.907-16.252-135.84-46.24C175.636,391.51,208.14,325.732,208,256c0.077-69.709-32.489-135.434-88-177.6                                            c80.1-61.905,191.9-61.905,272,0c-98.174,75.276-116.737,215.885-41.461,314.059c11.944,15.577,25.884,29.517,41.461,41.461                                            C353.003,463.884,305.179,480.088,256,480z M416,412v-0.16c-86.068-61.18-106.244-180.548-45.064-266.616                                            c12.395-17.437,27.627-32.669,45.064-45.064C500.654,186.871,500.654,325.289,416,412z">
                                                </path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <h5>2,03,59</h5>
                                <p> cars Sold</p><a class="btn-arrow arrow-secondary" href="javascript:void(0)"><i
                                        class="toprightarrow-secondary fa fa-arrow-up me-2"></i> </a>
                                <div class="parrten">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                        y="0px" viewbox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                        <g>
                                            <g>
                                                <path
                                                    d="M256,0C114.615,0,0,114.615,0,256s114.615,256,256,256s256-114.615,256-256S397.385,0,256,0z M96,100.16                                            c50.315,35.939,80.124,94.008,80,155.84c0.151,61.839-29.664,119.919-80,155.84C11.45,325.148,11.45,186.851,96,100.16z M256,480                                            c-49.143,0.007-96.907-16.252-135.84-46.24C175.636,391.51,208.14,325.732,208,256c0.077-69.709-32.489-135.434-88-177.6                                            c80.1-61.905,191.9-61.905,272,0c-98.174,75.276-116.737,215.885-41.461,314.059c11.944,15.577,25.884,29.517,41.461,41.461                                            C353.003,463.884,305.179,480.088,256,480z M416,412v-0.16c-86.068-61.18-106.244-180.548-45.064-266.616                                            c12.395-17.437,27.627-32.669,45.064-45.064C500.654,186.871,500.654,325.289,416,412z">
                                                </path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xl-12 box-col-12 des-xl-100">

                <div class="card">
                    <div class="card-header">
                        <h5>Car type</h5><span>TheTable  carries Some information of car type.To view more information about the car type click on the Row link inthe specific Data</span>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="display" id="basic-1">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Available car</th>
                                        <th>Type</th>
                                        <th>Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr >
                                        <td >f848739</td>
                                        <td>23</td>
                                        <td>SEDAN</td>
                                        <td>
                                            <a href="3"></a><i data-feather="edit"></i></a>
                                            <a href="3"></a><i data-feather="trash-2"></i></a>
                                        </td>

                                    </tr>
                                    <tr >
                                        <td >f848739</td>
                                        <td>65</td>
                                        <td>SPORTS CAR</td>
                                        <td>
                                            <a href="3"></a><i data-feather="edit"></i></a>
                                            <a href="3"></a><i data-feather="trash-2"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>f848739</td>
                                        <td>65</td>
                                        <td>SPORTS CAR</td>
                                        <td>
                                            <a href="3"></a><i data-feather="edit"></i></a>
                                            <a href="3"></a><i data-feather="trash-2"></i></a>
                                        </td>
                                    </tr>



                                </tbody>
                                <tfoot>
                                    <tr>

                                        <th>Id</th>
                                        <th>Available car</th>
                                        <th>Type</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>


        <div class="row">
            <div class="col-xl-12 box-col-12 des-xl-100">
                <div class="card">
                    <div class="card-header">
                        <h5>Suppliers cars </h5><span>
                            This This table consist of Car information , Where by  clicking  Car name will take you into  more car details </span>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="display" id="advance-14">
                            <thead>
                                <tr>

                                    <th>Supplier</th>
                                    <th>Car Name</th>
                                    <th>Car type</th>
                                    <th>Price</th>
                                    <th>Performace</th>
                                    <th>Status</th>

                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>Juma omary</td>
                                    <td><a style='color:blueviolet' href="#">Nissan Versa</a></td>
                                    <td>SEDAN</td>
                                    <td>30,838,383 Tsh</td>
                                    <td>xxxxx</td>
                                    <td>
                                        <div class="span badge rounded-pill pill-badge-danger">Sold</div>
                                    </td>
                                </tr>

                                <tr>
                                    <td> Juma omary</td>
                                    <td><a style='color:blueviolet' href="#">Nissan Versa</a></td>
                                    <td>SEDAN</td>
                                    <td>30,838,383 Tsh</td>
                                    <td>xxxxx</td>
                                    <td>
                                        <div class="span badge rounded-pill pill-badge-danger">Sold</div>
                                    </td>
                                </tr>

                            </tbody>
                            <tfoot>
                                <tr>

                                    <th>Supplier</th>
                                    <td>Car name</td>
                                    <th>Car type</th>
                                    <th>Price</th>
                                    <th>Performace</th>
                                    <th>status</th>

                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>



<!-- Vertically centered modal-->
<div class="modal fade" id="add_car" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form theme-form">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label>Supplier</label>
                                <select class="form-select">
                                    <option style="color:black">Juma jux</option>
                                    <option style="color:black"> Jereco joe</option>
                                    <option style="color:black"> Jmo julius</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label>Car Type</label>
                                <select class="form-select">
                                    <option style="color:black">SEDAN</option>
                                    <option style="color:black">COUPE2</option>
                                    <option style="color:black">SPORTS CAR</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label>Car name</label>
                                <input class="form-control" type="text" placeholder="eg :  Subaru Outback ">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label>Status</label>
                                <select class="form-select">
                                    <option style="color:black">On store</option>
                                    <option style="color:black">sold</option>
                                    <option style="color:black">borrow</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label>Car name</label>
                                <input class="form-control" type="text" placeholder="eg :  Subaru Outback ">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label>Created at</label>
                                <input class="datepicker-here form-control" type="text" data-language="en">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label>Performance</label>
                                <input class="form-control" type="text" placeholder="Enter car pperformance">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label>Amount</label>
                                <input class="form-control" type="text" placeholder="Car price">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label>Enter some Descrition(Optional)</label>
                                <textarea class="form-control" id="exampleFormControlTextarea4" rows="3"></textarea>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary" type="button">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add_car_type" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <div class="form theme-form">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label>Availble cars</label>
                            <input class="form-control" type="text" placeholder=" eg: 394">

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label>Type name</label>
                            <input class="form-control" type="text" placeholder=" Enter cart type name">

                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label>Enter some Descrition(Optional)</label>
                            <textarea class="form-control" id="exampleFormControlTextarea4" rows="3"></textarea>
                        </div>
                    </div>
                </div>


            </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary" type="button">Save changes</button>
            </div>
        </div>
    </div>
</div>


{% endblock%}