{% extends 'student_dashboard_templates/base.html'%}

{%block contents%}
<div class="page-body">
    <div class="container-fluid dashboard-default-sec">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Supplier List</h3>
                </div>
                <div class="col-sm-6">
                    <!-- Bookmark Start-->
                    <div class="bookmark">
                        <ul>
                            <li>
                                <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#add_supplier">
                                    <i data-feather="plus"></i>Supplier</button>
                            </li>
                        </ul>
                    </div>
                    <!-- Bookmark Ends-->
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Supplier list </h5><span>This Table consists some information about the suppliers ,. To see some specific informtio about them just click on the row linke in the table</span>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="display" id="basic-8">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Suppliers</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Sort of </th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr role="row" class="odd">
                                        <td tabindex="0" class="sorting_1">f848739</td>
                                        <td> <a style="color: blueviolet;" href ="#">Juma omary</a></td>
                                        <td>0788892390</td>
                                        <td>example@gmail.com</td>
                                        <td>A1</td>
                                        <td>
                                            <a href="3"></a><i data-feather="edit"></i></a>
                                            <a href="3"></a><i data-feather="trash-2"></i></a>
                                        </td>

                                    </tr>
                                    <tr >
                                        <td >f848739</td>
                                        <td> <a style="color: blueviolet;" href="#">Juma omary</a></td>
                                        <td>0788892390</td>
                                        <td>example@gmail.com</td>
                                        <td>A1</td>
                                        <td>
                                            <a href="#"></a><i data-feather="edit"></i></a>
                                            <a href="#"></a><i data-feather="trash-2"></i></a>
                                        </td>
                                    </tr>
                                    <tr >
                                        <td >f848739</td>
                                        <td> <a style="color: blueviolet;" href="#">Juma omary</a></td>

                                        <td>0788892390</td>
                                        <td>example@gmail.com</td>
                                        <td>A1</td>
                                        <td>
                                            <a href="3"></a><i data-feather="edit"></i></a>
                                            <a href="3"></a><i data-feather="trash-2"></i></a>
                                        </td>
                                    </tr>
                                    <tr >
                                        <td >f848739</td>
                                        <td> <a style="color: blueviolet;" href="#">Juma omary</a></td>
                                        <td>0788892390</td>
                                        <td>example@gmail.com</td>
                                        <td>A1</td>
                                        <td>
                                            <a href="3"></a><i data-feather="edit"></i></a>
                                            <a href="3"></a><i data-feather="trash-2"></i></a>
                                        </td>
                                    </tr>
                                    <tr >
                                        <td >f848739</td>
                                        <td> <a style="color: blueviolet;" href="#">Juma omary</a></td>
                                        <td>0788892390</td>
                                        <td>example@gmail.com</td>
                                        <td>A1</td>
                                        <td>
                                            <a href="3"></a><i data-feather="edit"></i></a>
                                            <a href="3"></a><i data-feather="trash-2"></i></a>
                                        </td>
                                    </tr>
                                    <tr >
                                        <td >f848739</td>
                                        <td> <a style="color: blueviolet;" href="#">Juma omary</a></td>
                                        <td>0788892390</td>
                                        <td>example@gmail.com</td>
                                        <td>A1</td>
                                        <td>
                                            <a href="3"></a><i data-feather="edit"></i></a>
                                            <a href="3"></a><i data-feather="trash-2"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>

                                        <th>ID</th>
                                        <th>Suppliers</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Sort of </th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>


                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>



<div class="modal fade" id="add_supplier" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add supplier</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <div class="form theme-form">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="mb-3">
                            <label>Full name</label>
                            <input class="form-control" type="text" placeholder="eg Juma Edio">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="mb-3">
                            <label>Phone</label>
                            <input class="form-control" type="text" placeholder="eg 0788823367">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="mb-3">
                            <label>Email</label>
                            <input class="form-control" type="text" placeholder="eg: example@gmail,com">
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-4">
                        <div class="mb-3">
                            <label>Created at </label>
                            <input class="datepicker-here form-control" type="text" data-language="en">
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label>Enter some Descrition(Optional)</label>
                            <textarea class="form-control" id="exampleFormControlTextarea4" rows="3"></textarea>
                        </div>
                    </div>
                </div>


            </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary" type="button">Save changes</button>
            </div>
        </div>
    </div>
</div>
{%endblock%}