{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{%block contents%}
<section>         
  <div class="container-fluid p-0"> 
    <div class="row m-0">
      <div class="col-xl-5"><img width="50%" class="bg-img-cover bg-center" src="{% static 'assets/img/hero-img.svg' %}" alt="looginpage"></div>
      <div class="col-xl-7 p-0"> 
        <div class="login-card p-5">
          <form accept="{% url 'register'%}" class="theme-form login-form " method="POST" novalidate>
            <h4>Create your account</h4>
            <h6>Enter your personal details to create account</h6>
            {% csrf_token %}
            <div class="form-group">
              <div class="small-group">
                <div class="input-group">
                     
                  {{ form.username|as_crispy_field }}              
                </div>
                <div class="input-group">
                  {{ form.email|as_crispy_field }}              
                </div>
              </div>
            </div>
             <div class="form-group">
              <div class="small-group">
                <div class="input-group">
                  {{ form.password1|as_crispy_field }}                
                </div>
                <div class="input-group">
                  {{ form.password2|as_crispy_field }}                
                </div>
              </div>
            </div>
           <!-- <div class="form-group">
              <label>Your names {{ form.first_name.error }}  </label>
              <div class="small-group">
                <div class="input-group"><span class="input-group-text"><i class="far fa-user"></i></span>
                  <input class="form-control" type="{{ form.first_name.name }}" name="{{ form.first_name.name }}" required="" placeholder="First name">
                </div>
                <div class="input-group"><span class="input-group-text"><i class="far fa-user"></i></span>
                  <input class="form-control" type="{{ form.last_name.name }}" name="{{ form.last_name.name }}" required="" placeholder="Lat name">
                </div>
              </div>
            </div>
           sjksajkajkaskjsadk

            <div class="form-group">
              <label>Your usernames  {{ form.usename.error }}</label>
              <div class="small-group">
                <div class="input-group"><span class="input-group-text"><i class="far fa-envelope"></i></span>
                  <input class="form-control" type="{{ form.email.name }}" name="{{ form.email.name }}" required="" placeholder="Email">
                </div>
                <div class="input-group"><span class="input-group-text"><i class="far fa-user"></i></span>
                  <input class="form-control" type="{{ form.username.name }}" name="{{ form.username.name }}" required="" placeholder="Username">
                </div>
              </div>
            </div>

            <div class="form-group">
              <label>Your Pass word</label>
              <div class="small-group">
                <div class="input-group"><span class="input-group-text"><i class="fa fa-lock"></i></span>
                  <input class="form-control" type="{{form.password1.name}}" name="{{ form.password1.name }}" required="" placeholder="Enter pass word">
                </div>
                <div class="input-group"><span class="input-group-text"><i class="fa fa-lock"></i></span>
                  <input class="form-control" type="{{ form.password2.name }}" name="{{ form.password2.name }}" required="" placeholder="confirm password">
                </div>
              </div>
            </div>
         
           
            <div class="form-group">
              <div class="checkbox">
                <input id="checkbox1" type="checkbox">
                <label class="text-muted" for="checkbox1">Agree with <span>Privacy Policy                   </span></label>
              </div>
            </div>
             -->
      
            <div class="form-group">
              <button class="btn btn-primary btn-block" type="submit">Create Account</button>
            </div>
            <div class="login-social-title">                
              <h5>Sign in with</h5>
            </div>
            <div class="form-group">
              <ul class="login-social">
                <li><a href="https://www.linkedin.com/login" target="_blank"><i data-feather="linkedin"></i></a></li>
                <li><a href="https://www.linkedin.com/login" target="_blank"><i data-feather="twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/login" target="_blank"><i data-feather="facebook"></i></a></li>
                <li><a href="https://www.instagram.com/login" target="_blank"><i data-feather="instagram">                  </i></a></li>
              </ul>
            </div>
            <p>Already have an account?<a class="ms-2" href="{%url 'login'%}">Sign in</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{%endblock%}